*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1180px;
    margin: 0 auto;
    
}
.nav-bar{
    background-color: rgb(70, 103, 93);
}
.nav-bar .nav-items{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0px;
}
.nav-bar .nav-items ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
}
.nav-bar .nav-items ul li a{
    text-decoration: none;
    color: #ffffff;
}
.nav-bar .nav-items h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.nav-bar .nav-items span{
    color: #ffffff;
}
.nav-bar .nav-items span i{
    padding-right: 10px;
   
}
.main-section{
    background: url("image/MG.png") no-repeat center/cover;
    padding: 200px;
}
.main-section .main {
   width: 50%;
   text-align: left;
   margin: 0 auto;
}
.main-section .main span{
    text-transform: uppercase;
   
}
.main-section .main span::before{
    content: "-";
   
}
.main-section .main h1{
    font-size: 50px;
   text-transform: capitalize;
   font-weight: 500;
   padding: 20px 0px;
}
.card-section{
    padding: 100px 0px;
    background-color: rgb(102, 150, 139);
}
.card-section .card-1{
    display: flex;
    width: 52%;
    margin: 0 auto;
}
.card-section .card-1 .card-item-1{
    padding: 30px 20px;
}
.card-section .card-1 .card-item-1 span{
    text-transform: uppercase;
    color: #FBD784;
    font-size: 15px;
}
.card-section .card-1 .card-item-1 h3{
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
}
.card-section .card-1 .card-item-2 img{
    height: 350px;
    width: 230px;
}
.card-section .card-2 {
    padding: 100px 0px;
}
.card-section .card-2{
    display: flex;
    width: 52%;
    margin: 0 auto;
}
.card-section .card-2 .card-item-1{
    padding: 30px 30px;
}
.card-section .card-2 .card-item-1 span{
    text-transform: uppercase;
    color: #FBD784;
    font-size: 15px;
}
.card-section .card-2 .card-item-1 h3{
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
}
.card-section .card-2 .card-item-2 img{
    height: 350px;
    width: 230px;
}
.card-section .card-3{
    display: flex;
    width: 52%;
    margin: 0 auto;
}
.card-section .card-3 .card-item-1{
    padding: 30px 30px;
}
.card-section .card-3 .card-item-1 span{
    text-transform: uppercase;
    color: #FBD784;
    font-size: 15px;
}
.card-section .card-3 .card-item-1 h3{
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
}
.card-section .card-3 .card-item-2 img{
    height: 350px;
    width: 230px;
}